@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&family=Noto+Sans+Math&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300&display=swap');
body {
    background-color: #fdc3e0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 20px;
   
}

h1 {
    color: black;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

p {
    text-align: left;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

.container {
    max-width: 400px;
    margin: 0 auto;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
     padding: 10px;
     background-color: #d4d4d4;
     color: black;
     border: none;
     cursor: pointer;
     flex: 1;
     margin: 0 5px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#deskripsi_kalkulasi {
    display: none; 
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

#rumus_kalkulasi {
    font-family: Arial, sans-serif;
    white-space: pre-wrap;
    text-align: center;
}

.Paris image {
    align-items: center;
    display: flex;
    justify-content: center;
}

h3 {
    color: black;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}